<html>
    <head>
        <link rel="stylesheet" href="/assets/home.css">
    </head>
<div class="header">
<h2 class="title">Codeial</h2>
<div class="right">
    <div class="dropdown">
        <%if(Requests.length!=0){%>
        <div class="notify"><%=Requests.length%></div>
        <%}%>
        <div class="icon" style="width: 2em;"><img src="https://www.flaticon.com/premium-icon/icons/svg/2985/2985052.svg" alt=""></div>
        <ul class="dropdown-content">
            <li class="notification"><a href=""></a></li>
            <%for(var request of Requests){%>
                <li class="notification">
                    <div class="user">
                        <a href="/Auth/Friends/profile/<%=request.id%>">
                        <img src="<%=request.avatar%>" alt="profilePic">
                        <div class="name"><%=request.name%></div>
                        </a>
                        <div class="react">
                            <a href="/Auth/Friends/accept/<%=request.id%>">Accept</a>
                            <a href="/Auth/Friends/reject/<%=request.id%>">Decline</a>
                        </div>
                    </div>
                </li>
            <%}%>
        </ul>
    </div>
    <div style="margin:0px 15px;">
            <div class="icon"><a href="/Auth/Friends/messenger"><img src="https://image.flaticon.com/icons/svg/561/561127.svg" alt=""></a></div>
            
    </div>
    <div >
        <button class="button"><a href="/Auth/pages/">Pages</a></button>
        
    </div>
    <form  style="margin :5px 100px" action="/Auth/logout" method="POST">
    <input type="submit" value="logout">
    </form>
</div>
</div>

<div class="Home">

<div class="left">
<form action="/Auth/post/create-post" method="POST" enctype="multipart/form-data" class="MakePost">
<div class="postText">
<textarea name="content" id="" cols="30" rows="2" placeholder="Write Something here ...."></textarea>
<img id='postImg' src="https://image.flaticon.com/icons/svg/2919/2919760.svg" style="height: 50px;" >
</div>
<input type="file" name="img" placeholder="hello" style="display: none;">
<input type="submit" value="post">
</form>
<div class="PostList">
    <%for(var post of posts){%>
        <%if(post.CreatedUser&&post.CreatedUser!=null){%>
        <div class="Post">
            
            <% var isLiked=post.Likes.some(function(id){return id.equals(user.id)})%>
            <div class="userHeader">
                <a href="/Auth/Friends/profile/<%=post.CreatedUser.id%>">
                <img src="<%=post.CreatedUser.avatar%>" class="avatar" alt="">
                </a>
                <div class="userInfo">
                    <div class=name><%=post.CreatedUser.name%></div>
                </div>
            
            </div>
            <%if(String(post.CreatedUser)==String(user.id)){%>   
            <a href="/Auth/post/delete-post/<%=post.id%>" ><img class="icon" src="https://image.flaticon.com/icons/svg/271/271203.svg"></a>
            <%}%>
            <div class="content">
                <%=post.content%>
            </div>
            <%if(post.img){%>
            <div class="postImage">
                <img src="<%=post.img%>"  alt="">
            </div>
            <%}%>
            <%if(!isLiked){%>
            <div class="like"><%=post.Likes.length%><a href="/Auth/post/like/<%=post.id%>"><img  src="https://image.flaticon.com/icons/svg/633/633759.svg"></a></div>
            <%}else{%>
                <div class="like"><%=post.Likes.length%><a href="/Auth/post/unlike/<%=post.id%>"><img  src="https://image.flaticon.com/icons/svg/889/889140.svg"></a></div>
            <%}%>
            <form action="/Auth/comment/create-comment/<%=post.id%>" class="commentBox" method="POST">
               <img src="<%=user.avatar%>" class="avatar" style='height: 100%;' alt="">
                <div class="commentPost">
                <textarea name="content"  cols="20" rows="2" placeholder="Comment here ...."></textarea>
                <br>
                <input type="submit" value="comment">
              </div>
            </form>
            <hr style="width: 100%;">
            <div class="commentList">
                <%for(var comment of post.comments){%>
                  
                    <%if(comment.User&&comment.User!=null){%>
                    <div class="commentLayout">
                    <img src="<%=comment.User.avatar%>" class="avatar" style="height: 50px;" alt="">
                    <div class="comment">
                        <% var isLiked=comment.Likes.some(function(id){return id.equals(user.id)})%>
                            <div class="name textLeft">
                                   <%=comment.User.name%>
                            </div>
                            <div class="content">
                                    <%=comment.content%>
                            </div>
                            <%if(comment.img){%>
                            <div class="commentImage">
                                    <img src="" alt="">
                            </div>
                            <%}%>
                            <div class="options">
                            <%if(!isLiked){%>
                                <div class="like" style="width: 2em;"><%=comment.Likes.length%><a href="/Auth/comment/like/<%=comment.id%>"><img  src="https://image.flaticon.com/icons/svg/633/633759.svg"></a></div>
                                <%}else{%>
                                    <div class="like" style="width: 2em;"><%=comment.Likes.length%><a href="/Auth/comment/unlike/<%=comment.id%>"><img  src="https://image.flaticon.com/icons/svg/889/889140.svg"></a></div>
                            <%}%>
                                <%if(String(comment.User)==String(user.id)){%>
                                <a href="/Auth/comment/delete-comment/<%=comment.id%>" style="position: relative; top: 2em;">delete</a>
                                <%}%>
                            </div>
                    </div>
                    </div>
                    <%}%>
                <%}%>
            </div>
        </div>
        <%}%>
    <%}%>
</div>
</div>
<div class="right">
    <h2>Friends</h2>
    <div class="list">
        <%for(var friend of Friends){%>
        
        <div class="item">
            <a href="/Auth/Friends/profile/<%=friend.id%>"><img src="<%=friend.avatar%>" alt="profile"></a>
            <div class="name" style="margin: 10px 0px;"><%=friend.name%></div>
            <div class="options" style="justify-content: space-evenly;">
                <div class="name" style="font-size: 1em;"><a href="/Auth/Friends/add-friend/<%=friend.id%>">Unfriend</a></div>
                <div class="name" style="font-size: 1em;"><a id="<%=friend.id%>" class="chat">Message</a></div>
            </div>
        </div>
        <%}%>
    </div>
    <h2>Users</h2>
    <temp id="<%=user.id%>"></temp>
<div class="list">
    <%for(var userItem of users){%>
    <%if(String(userItem.id)!=String(user.id)){%>
    <div class="item">
        <a href="/Auth/Friends/profile/<%=userItem.id%>"><img src="<%=userItem.avatar%>" alt="profile"></a>
        <div class="name" style="margin: 10px 0px;"><%=userItem.name%></div>
        <div class="options" style="justify-content: space-evenly;">
        <% var isRequestSent=userItem.Requests.some(function(id){return id.equals(user.id)})%>
        <%if(!isRequestSent){%>
            <div class="name" style="font-size: 1em;"><a href="/Auth/Friends/add-friend/<%=userItem.id%>">Add Friend</a></div>
        <%}else{%>
            <div class="name" style="font-size: 1em;"><a href="/Auth/Friends/add-friend/<%=userItem.id%>" >Request Sent</a></div>   
        <%}%>
        <div class="name" style="font-size: 1em;"><a id="<%=userItem.id%>" class="chat">Message</a></div>
    </div>
    </div>
    <%}%>
    <%}%>
</div>
</div>

<div class="container" id='room' style="display: none;">
    <div class="header">
            <div class="userInfo">
                   <div class="name"></div>
            </div>
            <div class="options" style="justify-content: flex-end;">
                    <div class="close">X</div>
            </div>
    </div>
    <div class="messageList">

        <div class="messageBox recievedMessage">
            <div>Hello</div>
            <sub>16.20</sub>
        </div>
        <div class="username textLeft">Sarvanan</div>
        <div >
            <div class="sendMessage messageBox">
            <div class="message">Hello</div>
            <sub class="time">16.20</sub>
            </div>
            <div class="username textRight">Sarvanan</div>
        </div>
        
        
    </div>
    <div class="messageContainer">
                <input type="text" placeholder="message" class="message"  style="width: 75%;">
                <input type="submit" class ="send"  value="Send" width="30%" style="width: 25%;">
    </div>
    
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script src="/assets/chatEngine.js"></script>

</html>